/*
*Trash*
**/*.log
.local/share
!.gitignore
!.config
!.config/
!.config/zsh
!.config/wezterm
!.config/clipcat
!.config/metaprint
!.config/nvim/lua/custom
!.local
.local/share/*
.local/lib
.local/state
.local/pipx
!.local/bin
!.tmux/
!.tmux/plugins/tmux-customs/
