.cache/
.cargo/
.android/
.apklab/
.cfg/
.java/
.local/share/Trash/
.local/share/go/
.local/share/Google/
.local/pipx/
.mozilla/
.npm/
.rustup/
go/
.x2go/
.zi*/*
Projects/
pp/
Documents/
backups/
backup/
Downloads/
Music/
Pictures/
Arduino/
AndroidStudioProjects/
workspace/
Android/
.themes/
perl5/
qemu*/
.nx/
.platformio/
.local/share/*
.cpan/
.gradle/
.buildcache/
.local/lib/
.arduino15/
.espressif/
.local/share/cargo/
.zi/
.vscode/
.local/state/
.local/share/
!.gitignore
!.config
!.config/
!.config/zsh
!.config/wezterm
!.config/clipcat
!.config/metaprint
!.config/nvim/lua/custom
!.local/bin
!.tmux/
!.tmux/plugins/tmux-customs/
